body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

header {
  text-align: left;
  background: black;
  color: white;
}

main {
  border: solid black 2px;
}

h1 {
  color: white;
  background: black;
}

footer {
  width: 100%;
  height: 2em;
  position: absolute;
  bottom: 0;
  background: black;
  color: white;
  padding: 1em;
  text-align: center;
}

.footer-box {
  width: 32%;
  text-align: left;
  padding-left: 1em;
}

.nyc-map {
  display: inline-block;
  width: 80%;
  height: 350px;
  border: black solid 2px;
  margin-bottom: 2em;
}

.uncertain {
  display: inline-block;
  width: 80%;
  min-height: 200px;
  border: black solid 2px;
  margin-bottom: 2em;
}

.form {
  overflow: hidden;
  text-align: left;
}

.form > textarea {
  width: 40em;
}

/* Animations */
/* To add an animation just add the relevant class to the class list */

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
.fade-in-short {animation: fadein 1s;}
.fade-in-medium {animation: fadein 2s;}
.fade-in-long {animation: fadein 3s;}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
.fade-out-short {animation: fadeout 1s;}
.fade-out-medium {animation: fadeout 2s;}
.fade-out-long {animation: fadeout 3s;}

@keyframes dropin {
  0% {display: none; height: 0;}
  50% {display: none; height: 0;}
  100% {display: inline-block; height: 200px;}
}
.drop-in {animation: dropin 2s;}

.display-none {
  display: none;
}
