body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'MetalLord', cursive;
}

button {
  font-family: MetalLord, serif;
  font-size: 0.7em;
}

/* Header Body */
header {
  text-align: right;
  background: black;
  color: white;
  height: 1em;
  position: fixed;
  width: 100%;
}

header > p {
  margin: 0;
}

/* Main Body */
main {

}

div.leaflet-popup-content-wrapper {
  color: white;
  background: none;
  border: solid white 2px;
  font-family: fantasy;
}

h1 {
  color: white;
  background: black;
}

.nyc-map {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.information-area {
  font-family: DragonForce, serif;
  font-size: 1.2em;
  letter-spacing: 2px;
  background-color: maroon;
  color: black;
  display: inline-block;
  float: right;
  width: 340px;
  height: 100%;
  border: black solid 2px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  top: 1em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  background-image: url('../assets/dirty_border.png');
  background-size: cover;
}

#sighting-info > h3 {
  margin: 0;
}

#sighting-info > p {
  max-width: 300px;
}

#confirm-sighting {
  background: #d1d1d1;
  border: solid black 2px;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  padding: 3px;
}

#confirm-sighting:hover {
  border: solid black 3px;
  padding: 2px;
}

#remove-sighting {
  background: #d1d1d1;
  border: solid black 2px;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  padding: 3px;
}

#remove-sighting:hover {
  border: solid black 3px;
  padding: 2px;
}

.form {
  overflow: scroll;
  height: 28em;
  text-align: left;
}

.form > textarea {
  width: 90%;
  height: 3em;
}

.exit {
  cursor: pointer;
  color: red;
  float: right;
}

/* Footer Body */
footer {
  width: 100%;
  height: 1em;
  position: absolute;
  bottom: -0.5em;
  background: black;
  color: white;
  padding: 1em;
  text-align: center;
}

.footer-box {
  width: 32%;
  float: left;
}

#myBtn {
  color: red;
  cursor: pointer;
  opacity: 0;
  /* animation: fadeout 2s */
}

#myBtn:hover {
  animation: fadein 2s;
  opacity: 1;
}

/* Animations */
/* To add an animation to an element just add the relevant class to its class list */

/* fade-in */
@keyframes fadein {
    to {opacity: 1;}
}
.fade-in {animation: fadein 1s;}

/* fade-out */
@keyframes fadeout {
    to {opacity: 0;}
}
.fade-out {animation: fadeout 1s;}

/* drop-in */
@keyframes dropinShow {
  0% {display: none; height: 0;}
  100% {display: inline-block; height: 22em;}
}
.drop-in-show {animation: dropinShow 1s;}

@keyframes dropinCreate {
  0% {display: none; height: 0;}
  100% {display: inline-block; height: 28em;}
}
.drop-in-create {animation: dropinCreate 1s;}

/* drop-out */

@keyframes dropoutShow {
  0% {display: inline-block; height: 22em;}
  100% {display: none; height: 0;}
}
.drop-out-show {animation: dropoutShow 1s;}

@keyframes dropoutCreate {
  0% {display: inline-block; height: 28em;}
  100% {display: none; height: 0;}
}
.drop-out-create {animation: dropoutCreate 1s;}

/* no-display */
.no-display {
  display: none;
}

/* pulse-red */
@keyframes pulsered {
  0% {color: white}
  50% {color: red}
  100% {color: white}
}
.pulse-red {animation: pulsered 2s infinite;}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 0.5;}
}
.fade-in {animation: fadein 2s}

@keyframes fadeout {
  from {opacity: 0.5;}
  to {opacity: 0}
}
.fade-out {animation: fadeout 2s}

@keyframes sabbath {
  0% {transform: rotate(1deg)}
  0.2% {transform: rotate(-2deg)}
  0.4% {transform: rotate(2deg)}
  0.6% {transform: rotate(-2deg)}
  0.8% {transform: rotate(2deg)}
  1.0% {transform: rotate(-2deg)}
  1.2% {transform: rotate(2deg)}
  1.4% {transform: rotate(-2deg)}
  1.6% {transform: rotate(2deg)}
  1.8% {transform: rotate(-2deg)}
  2% {transform: rotate(2deg)}
  2.2% {transform: rotate(-2deg)}
  2.4% {transform: rotate(10deg)}
  50%{transform: rotate(10deg)}
  52%{transform: rotate(0deg)}
}
.sabbath{
  animation: sabbath 30s;
  color: white;
  background: grey;
  background-image: url('https://pngimage.net/wp-content/uploads/2018/06/%D0%BC%D0%B0%D1%81%D0%BA%D0%B0-%D0%B4%D0%BB%D1%8F-%D1%84%D0%BE%D1%82%D0%BE%D1%88%D0%BE%D0%BF%D0%B0-png-2.png');
  background-size: 600px;
}


/* Fonts */
/* Metal Lord from 1001 Fonts by Raymond Larabie */
@font-face { font-family: MetalLord; src: url('metal_lord.ttf'); }
.metal-lord {
  font-family: MetalLord, serif;
}

/* DragonForcE from 1001 Fonts by Holitter Studios */
@font-face { font-family: DragonForce; src: url('dragonforce.ttf'); }
.dragonforce {
  font-family: DragonForce, serif;
}

/* Fonts used are free for commercial and personal use under the 1001Fonts Free For Commercial Use License (FFC) found at https://www.1001fonts.com/licenses/ffc.html */
