body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'MetalLord', cursive;
}

button {
  font-family: MetalLord, serif;
  font-size: 0.7em;
}

/* Header Body */
header {
  text-align: right;
  background: black;
  color: white;
  height: 1em;
}

header > p {
  margin: 0;
}

/* Main Body */
main {

}

h1 {
  color: white;
  background: black;
}
.nyc-map {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.information-area {
  font-family: DragonForce, serif;
  font-size: 1.2em;
  letter-spacing: 2px;
  background: black;
  color: white;
  display: inline-block;
  float: right;
  min-width: 25%;
  height: 100%;
  border: black solid 2px;
}

.form {
  overflow: hidden;
  height: 22em;
  text-align: left;
}

.form > textarea {
  width: 90%;
  height: 3em;
}

.exit {
  cursor: pointer;
  color: red;
  float: right;
}

/* Footer Body */
footer {
  width: 100%;
  height: 1em;
  position: absolute;
  bottom: -0.5em;
  background: black;
  color: white;
  padding: 1em;
  text-align: center;
}

.footer-box {
  width: 32%;
  text-align: left;
  padding-left: 1em;
}

/* Animations */
/* To add an animation to an element just add the relevant class to its class list */

/* fade-in */
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
.fade-in {animation: fadein 1s;}

/* fade-out */
@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}
.fade-out {animation: fadeout 1s;}

/* drop-in */
@keyframes dropin {
  0% {display: none; height: 0;}
  100% {display: inline-block; height: 22em;}
}
.drop-in {animation: dropin 1s;}

/* drop-out */
@keyframes dropout {
  0% {display: inline-block; height: 22em;}
  100% {display: none; height: 0;}
}
.drop-out {animation: dropout 1s;}

/* no-display */
.no-display {
  display: none;
}

/* pulse-red */
@keyframes pulsered {
  0% {color: white}
  50% {color: red}
  100% {color: white}
}
.pulse-red {animation: pulsered 2s infinite;}

/* Fonts */
/* Metal Lord from 1001 Fonts by Raymond Larabie */
@font-face { font-family: MetalLord; src: url('metal_lord.ttf'); }
.metal-lord {
  font-family: MetalLord, serif;
}

/* DragonForcE from 1001 Fonts by Holitter Studios */
@font-face { font-family: DragonForce; src: url('dragonforce.ttf'); }
.dragonforce {
  font-family: DragonForce, serif;
}

/* Fonts used are free for commercial and personal use under the 1001Fonts Free For Commercial Use License (FFC) found at https://www.1001fonts.com/licenses/ffc.html */
